/*

  The Oxygen font used on this site uses the weights 300, 400, and 700.

*/

@font-face {
    font-family: 'socicon';
    src: url('font/socicon-webfont.eot');
    src: url('font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/socicon-webfont.woff') format('woff'),
         url('font/socicon-webfont.ttf') format('truetype'),
         url('font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socicon {
    font-family: 'socicon' !important;
}

.jumbotron {
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(0,0,0,.15);
  background-image: url('http://i.imgur.com/75sQKyB.png');
  background-size: auto;
  background-position: 50px 0px;
}

body {
  background-color: #3c99fd;
  font-family: 'Oxygen', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  padding-top: 70px;
  color: #555;
}

.profile {
  background-color: rgba(0,0,0,.1) !important;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  margin-top: 15px;
}

.content-box {
  background-color: rgba(0,0,0,.1) !important;
  padding: 20px;
  border-radius: 3px;
  margin-top: 15px;
}

.profile-pic {
  margin-bottom: 10px;
  border: 3px solid #fff;
  border-radius: 3px;
}

a {
  color: #3c99fd;
}

.fine-print {
  font-weight: 100;
  color: rgba(0,0,0,.3);
}

.form-control {
  border: 2px solid rgba(190,190,190,.8);
  box-shadow: none !important;
}

.form-control:hover, .form-control:focus, .form-control:active {
  border: 2px solid #3c99fd;
  box-shadow: none !important;
}

.input-lg {
  border-radius: 3px;
}

.btn-default {
  border: 2px solid rgba(190,190,190,0.5);
  color: #3c99fd;
  font-weight: bold;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  border: 2px solid #3c99fd;
  background-color: #3c99fd;
  color: #fff !important;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

.btn-success {
  border: 2px solid rgba(63,196,25,1);
  background-color: rgba(63,196,25,0.1);
  color: rgba(63,196,25,1);
  font-weight: bold;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
  border: 2px solid rgba(63,196,25,1);
  background-color: rgba(63,196,25,1);
  color: #fff !important;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

.btn-danger {
  border: 2px solid rgba(226,58,58,1);
  background-color: rgba(226,58,58,0.1);
  color: rgba(226,58,58,1);
  font-weight: bold;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  border: 2px solid rgba(226,58,58,1);
  background-color: rgba(226,58,58,1);
  color: #fff !important;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

.btn-info {
  border: 2px solid rgba(60,153,253,1);
  background-color: rgba(60,153,253,0.1);
  color: rgba(60,153,253,1);
  font-weight: bold;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
  border: 2px solid rgba(60,153,253,1);
  background-color: rgba(60,153,253,1);
  color: #fff !important;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

.btn-primary {
  border: 2px solid rgba(190,190,190,1);
  background-color: rgba(190,190,190,0.1);
  color: rgba(0,0,0,.4);
  font-weight: bold;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  border: 2px solid rgba(190,190,190,1);
  background-color: rgba(190,190,190,1);
  color: #fff !important;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

.btn-lg {
  border-radius: 3px !important;
}

a:hover {
  color: #3c99fd !important;
}

.post-title {
  color: #3c99fd;
}

.post-title:hover, .post-title:focus, .post-title:active {
  color: #3c99fd;
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 700;
}

p {
  margin-bottom: 0;
}

.navbar {
  background: #fff;
  border: 0;
  box-shadow: 0px 2px 0px rgba(0,0,0,.1);
}

.navbar-brand {
  font-weight: 700;
}

.side-panel {
  background-color: #fff;
  color: #555;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

.mainLogo {
  width: 30px;
  position:absolute;
  margin-top: -5px;
}

tr.top {
    background-color: #3c99fd;
    font-weight: 700;
    color: #fff;
    border: 1px solid #3c99fd;

}

td.muted {
    background-color: rgba(0,0,0,.05);
    color: rgba(0,0,0,.25);
}

td.today {
    background-color: rgba(60, 153, 253, 0.1);
    color: #3c99fd;
    font-weight: 700;
}

.panel-heading {
	padding: 0;
	margin: 0;
	color: #3c99fd;
}

.page-header {
	margin-top: 0px;
	padding-top: 0px;
    border-bottom: 2px solid rgba(0,0,0,.05);
}

td {
    text-align: center;
}

.panel {
	background: #fff;
	border-radius: 5px;
    border: none;
	box-shadow: 0px 1px 0px rgba(0,0,0,.15);
}

.contribute-link:hover {
	color: #ff5454 !important;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panel-footer {
    padding: 20px;
}
